# Country by commodity exports

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/' + \
                 'uktradecountrybycommodityexports')
scraper

## Trade in goods: country-by-commodity exports

Monthly export country-by-commodity data on the UK's trade in goods, including trade by all countries and selected commodities, non-seasonally adjusted.

### Distributions

1. Trade in goods: country-by-commodity exports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityexports/current/countrybycommodityexportsfinal.xlsx))

In [2]:
table = scraper.distribution().as_pandas(dtype={
    'COMMODITY': 'category',
    'COUNTRY': 'category',
    'DIRECTION': 'category'
}, na_values=[''], keep_default_na=False)
table

WARNING:Cache entry deserialization failed, entry ignored

,COMMODITY,COUNTRY,DIRECTION,1998JAN,1998FEB,1998MAR,1998APR,1998MAY,1998JUN,1998JUL,...,2018FEB,2018MAR,2018APR,2018MAY,2018JUN,2018JUL,2018AUG,2018SEP,2018OCT,2018NOV
0,0 Food & live animals,AD Andorra,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0 Food & live animals,AE United Arab Emirates,EX Exports,5,5,5,4,5,4,6,...,17,21,21,19,17,20,30,19,20,21
2,0 Food & live animals,AF Afghanistan,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0 Food & live animals,AG Antigua & Barbuda,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0 Food & live animals,AI Anguilla,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0 Food & live animals,AL Albania,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0 Food & live animals,AM Armenia,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0 Food & live animals,AO Angola,EX Exports,0,0,0,0,0,0,0,...,0,2,1,0,1,2,1,1,3,1
8,0 Food & live animals,AQ Antarctica,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0 Food & live animals,AR Argentina,EX Exports,0,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
10,0 Food & live animals,AS American Samoa,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0 Food & live animals,AT Austria,EX Exports,1,1,1,2,2,1,2,...,2,3,6,4,4,1,1,1,2,2
12,0 Food & live animals,AU Australia,EX Exports,4,6,4,5,6,4,6,...,23,23,21,24,32,28,31,35,31,35
13,0 Food & live animals,AW Aruba,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0 Food & live animals,AZ Azerbaijan,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0 Food & live animals,B5 Total EU(28),EX Exports,403,391,433,373,361,371,352,...,842,936,879,915,917,854,884,907,986,1037
16,0 Food & live animals,BA Bosnia & Herzegovina,EX Exports,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0 Food & live animals,BB Barbados,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0 Food & live animals,BD Bangladesh,EX Exports,0,0,8,5,0,0,0,...,1,1,0,0,0,0,1,1,0,0
19,0 Food & live animals,BE Belgium,EX Exports,30,26,31,29,25,23,26,...,41,53,49,45,48,43,42,44,45,50
20,0 Food & live animals,BF Burkina Faso,EX Exports,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0
21,0 Food & live animals,BG Bulgaria,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
22,0 Food & live animals,BH Bahrain,EX Exports,0,0,0,0,0,0,0,...,2,3,1,1,0,1,0,0,1,2
23,0 Food & live animals,BI Burundi,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0 Food & live animals,BJ Benin,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0 Food & live animals,BM Bermuda,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,0 Food & live animals,BN Brunei,EX Exports,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
27,0 Food & live animals,BO Bolivia,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0 Food & live animals,"BQ Bonaire, Sint Eustatius and Saba",EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0 Food & live animals,BR Brazil,EX Exports,0,0,0,3,4,4,4,...,2,1,3,1,1,2,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29595,T Total,TL East Timor,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29596,T Total,TM Turkmenistan,EX Exports,1,0,1,0,0,1,0,...,0,2,1,1,2,1,2,0,1,3
29597,T Total,TN Tunisia,EX Exports,5,3,10,8,4,7,10,...,5,6,15,6,9,12,6,6,36,10
29598,T Total,TO Tonga,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29599,T Total,TR Turkey,EX Exports,127,131,147,126,138,158,174,...,463,482,488,436,457,468,360,444,358,333
29600,T Total,TT Trinidad & Tobago,EX Exports,4,3,5,6,8,7,9,...,5,0,2,4,7,3,15,2,6,4
29601,T Total,TV Tuvalu,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29602,T Total,TW Taiwan,EX Exports,85,86,109,98,72,77,79,...,68,116,111,155,121,134,96,103,113,121
29603,T Total,TZ Tanzania,EX Exports,5,5,4,2,2,1,6,...,4,5,6,5,9,5,3,7,4,12
29604,T Total,UA Ukraine,EX Exports,8,13,17,15,13,10,15,...,28,36,35,37,34,29,26,74,79,31
29605,T Total,UG Uganda,EX Exports,2,1,2,2,1,3,1,...,0,0,2,2,1,0,0,0,1,0
29606,T Total,UM US Minor Outlying Islands,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29607,T Total,US United States inc Puerto Rico,EX Exports,1699,1809,1988,1933,1820,1862,2181,...,3964,4834,4006,4468,4632,4439,4346,4670,5787,5224
29608,T Total,UY Uruguay,EX Exports,6,5,3,5,3,3,4,...,15,8,14,7,5,12,9,12,8,10
29609,T Total,UZ Uzbekistan,EX Exports,1,3,2,6,5,3,5,...,0,1,0,0,1,0,0,6,0,2
29610,T Total,VA Vatican City,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
29611,T Total,VC St Vincent,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
29612,T Total,VE Venezuela,EX Exports,27,14,28,27,22,28,22,...,0,0,0,0,2,2,3,5,2,1
29613,T Total,VG British Virgin Islands,EX Exports,0,0,0,0,0,0,0,...,0,0,1,0,1,1,2,4,0,0
29614,T Total,VI US Virgin Islands,EX Exports,0,0,4,0,0,6,0,...,0,0,0,0,0,0,0,0,0,0
29615,T Total,VN Vietnam,EX Exports,3,3,3,4,4,6,7,...,26,45,40,61,49,44,45,42,49,115
29616,T Total,VU Vanuatu,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29617,T Total,W1 Whole world,EX Exports,13284,13501,15212,13783,13369,14476,13973,...,27357,29932,27622,29210,30356,29440,27950,29452,32270,31597
29618,T Total,WF Wallis & Futuna,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29619,T Total,WS Samoa,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29620,T Total,XK Kosovo,EX Exports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29621,T Total,YE Yemen,EX Exports,4,3,4,3,3,6,5,...,0,4,2,0,3,1,1,5,3,4
29622,T Total,ZA South Africa,EX Exports,115,134,142,142,145,215,169,...,206,169,180,169,163,165,154,140,173,199
29623,T Total,ZM Zambia,EX Exports,1,1,3,1,0,2,2,...,3,2,3,3,6,5,5,7,5,4
29624,T Total,ZW Zimbabwe,EX Exports,5,3,5,5,3,5,5,...,2,3,1,2,3,2,3,4,3,4

In [3]:
table.drop(columns='DIRECTION', inplace=True)
table.rename(columns={
    'COMMODITY': 'CORD SITC',
    'COUNTRY': 'ONS Partner Geography'}, inplace=True)
table = pd.melt(table, id_vars=['CORD SITC','ONS Partner Geography'], var_name='Period', value_name='Value')
table['Period'] = table['Period'].astype('category')
table['Value'] = table['Value'].astype(int)

In [4]:
display(table['CORD SITC'].cat.categories)
display(table['ONS Partner Geography'].cat.categories)

Index(['0 Food & live animals', '00 Live animals',
       '01 Meat & meat preparations', '02 Dairy products & eggs',
       '03 Fish & shellfish', '04 Cereals', '05 Vegetables & fruit',
       '06 Sugar', '07 Coffee, tea, cocoa etc', '08 Animal feeding stuffs',
       ...
       '897C Jewellery', '89I Other manufactures (intermediate)',
       '89K Other manufactures (capital)',
       '89OC Other manufactures (consumer)', '8O Other manufactures',
       '8OC Other miscellaneous manufactures (consumer)',
       '8OI Other miscellaneous manufactures (intermediate)',
       '8OK Other miscellaneous manufactures (capital)', '9 Unspecified goods',
       'T Total'],
      dtype='object', length=125)

Index(['AD Andorra', 'AE United Arab Emirates', 'AF Afghanistan',
       'AG Antigua & Barbuda', 'AI Anguilla', 'AL Albania', 'AM Armenia',
       'AO Angola', 'AQ Antarctica', 'AR Argentina',
       ...
       'VN Vietnam', 'VU Vanuatu', 'W1 Whole world', 'WF Wallis & Futuna',
       'WS Samoa', 'XK Kosovo', 'YE Yemen', 'ZA South Africa', 'ZM Zambia',
       'ZW Zimbabwe'],
      dtype='object', length=237)

Fix up category strings

In [5]:
table['CORD SITC'].cat.categories = table['CORD SITC'].cat.categories.map(lambda x: x.split(' ')[0])
table['ONS Partner Geography'].cat.categories = table['ONS Partner Geography'].cat.categories.map(lambda x: x[:2])
display(table['CORD SITC'].cat.categories)
display(table['ONS Partner Geography'].cat.categories)

Index(['0', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       '897C', '89I', '89K', '89OC', '8O', '8OC', '8OI', '8OK', '9', 'T'],
      dtype='object', length=125)

Index(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR',
       ...
       'VN', 'VU', 'W1', 'WF', 'WS', 'XK', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype='object', length=237)

In [6]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

table['Period'].cat.categories = table['Period'].cat.categories.map(time2period)

In [7]:
table['Seasonal Adjustment'] = pd.Series('NSA', index=table.index, dtype='category')
table['Measure Type'] = pd.Series('GBP Total', index=table.index, dtype='category')
table['Unit'] = pd.Series('gbp-million', index=table.index, dtype='category')
table['Flow'] = pd.Series('exports', index=table.index, dtype='category')

In [8]:
table.memory_usage()

Index                          80
CORD SITC                 7441995
ONS Partner Geography    14883886
Period                   14883998
Value                    59487000
Seasonal Adjustment       7435963
Measure Type              7435963
Unit                      7435963
Flow                      7435963
dtype: int64

In [9]:
table = table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]

In [10]:
table.count()

ONS Partner Geography    7435875
Period                   7435875
Flow                     7435875
CORD SITC                7435875
Seasonal Adjustment      7435875
Measure Type             7435875
Value                    7435875
Unit                     7435875
dtype: int64

In [11]:
table.dtypes

ONS Partner Geography    category
Period                   category
Flow                     category
CORD SITC                category
Seasonal Adjustment      category
Measure Type             category
Value                       int64
Unit                     category
dtype: object