# Country by commodity imports

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/' + \
                  'uktradecountrybycommodityimports')
scraper

## Trade in goods: country-by-commodity imports

Monthly import country-by-commodity data on the UK's trade in goods, including trade by all countries and selected commodities, non-seasonally adjusted.

### Distributions

1. Trade in goods: country-by-commodity imports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityimports/current/countrybycommodityimportsfinal.xlsx))

In [2]:
table = scraper.distribution().as_pandas(dtype={
    'COMMODITY': 'category',
    'COUNTRY': 'category',
    'DIRECTION': 'category'
}, na_values=[''], keep_default_na=False)
table

WARNING:Cache entry deserialization failed, entry ignored

,COMMODITY,COUNTRY,DIRECTION,1998JAN,1998FEB,1998MAR,1998APR,1998MAY,1998JUN,1998JUL,...,2018FEB,2018MAR,2018APR,2018MAY,2018JUN,2018JUL,2018AUG,2018SEP,2018OCT,2018NOV
0,0 Food & live animals,AD Andorra,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0 Food & live animals,AE United Arab Emirates,IM Imports,1,0,12,29,11,2,0,...,0,8,1,0,0,0,0,0,0,0
2,0 Food & live animals,AF Afghanistan,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0 Food & live animals,AG Antigua & Barbuda,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0 Food & live animals,AI Anguilla,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0 Food & live animals,AL Albania,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0 Food & live animals,AM Armenia,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0 Food & live animals,AO Angola,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,0 Food & live animals,AQ Antarctica,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0 Food & live animals,AR Argentina,IM Imports,3,11,3,9,15,10,13,...,59,58,13,35,43,65,18,33,38,80
10,0 Food & live animals,AS American Samoa,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0 Food & live animals,AT Austria,IM Imports,1,1,2,1,1,1,1,...,12,13,11,13,14,16,14,13,12,12
12,0 Food & live animals,AU Australia,IM Imports,17,6,5,6,7,9,9,...,6,5,6,7,10,9,8,6,9,9
13,0 Food & live animals,AW Aruba,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0 Food & live animals,AZ Azerbaijan,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0 Food & live animals,B5 Total EU(28),IM Imports,659,660,707,692,699,758,722,...,2097,2359,2231,2350,2371,2306,2316,2283,2543,2527
16,0 Food & live animals,BA Bosnia & Herzegovina,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0 Food & live animals,BB Barbados,IM Imports,0,0,0,6,6,5,1,...,0,0,0,0,0,0,0,0,0,0
18,0 Food & live animals,BD Bangladesh,IM Imports,0,0,0,2,2,2,2,...,5,5,5,4,2,5,3,2,4,7
19,0 Food & live animals,BE Belgium,IM Imports,47,49,54,48,50,64,51,...,150,168,154,173,169,181,177,175,195,214
20,0 Food & live animals,BF Burkina Faso,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,1,0,0
21,0 Food & live animals,BG Bulgaria,IM Imports,0,0,0,0,0,0,0,...,1,4,1,1,1,8,8,20,13,7
22,0 Food & live animals,BH Bahrain,IM Imports,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0 Food & live animals,BI Burundi,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0 Food & live animals,BJ Benin,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0 Food & live animals,BM Bermuda,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0 Food & live animals,BN Brunei,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0 Food & live animals,BO Bolivia,IM Imports,0,0,0,0,0,0,0,...,0,0,1,1,1,1,2,1,2,1
28,0 Food & live animals,"BQ Bonaire, Sint Eustatius and Saba",IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0 Food & live animals,BR Brazil,IM Imports,14,11,12,13,12,22,23,...,44,37,38,44,29,44,44,87,81,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29595,T Total,TL East Timor,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29596,T Total,TM Turkmenistan,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
29597,T Total,TN Tunisia,IM Imports,2,10,6,4,8,4,6,...,9,9,10,10,7,12,11,9,14,9
29598,T Total,TO Tonga,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29599,T Total,TR Turkey,IM Imports,106,104,135,101,116,124,131,...,615,803,823,744,767,776,918,762,879,891
29600,T Total,TT Trinidad & Tobago,IM Imports,3,2,0,1,7,8,5,...,10,3,20,18,15,6,5,5,19,12
29601,T Total,TV Tuvalu,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29602,T Total,TW Taiwan,IM Imports,193,182,204,194,190,183,194,...,234,280,268,261,297,314,296,279,365,316
29603,T Total,TZ Tanzania,IM Imports,2,1,4,6,2,1,1,...,1,3,1,1,0,1,0,1,1,1
29604,T Total,UA Ukraine,IM Imports,5,4,3,2,9,2,1,...,27,56,39,31,49,31,33,37,52,59
29605,T Total,UG Uganda,IM Imports,2,2,1,1,1,1,0,...,0,0,0,1,0,1,1,0,1,0
29606,T Total,UM US Minor Outlying Islands,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29607,T Total,US United States inc Puerto Rico,IM Imports,1823,1981,2163,1924,1966,1903,1795,...,2606,3321,3602,3495,3691,3364,4215,3248,3887,3876
29608,T Total,UY Uruguay,IM Imports,4,3,4,5,5,6,5,...,4,2,2,5,3,5,7,5,4,3
29609,T Total,UZ Uzbekistan,IM Imports,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29610,T Total,VA Vatican City,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29611,T Total,VC St Vincent,IM Imports,1,2,2,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
29612,T Total,VE Venezuela,IM Imports,10,5,12,7,8,19,10,...,3,0,7,0,3,0,8,4,3,5
29613,T Total,VG British Virgin Islands,IM Imports,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29614,T Total,VI US Virgin Islands,IM Imports,10,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29615,T Total,VN Vietnam,IM Imports,19,20,22,25,23,18,18,...,312,380,294,352,355,358,372,425,400,415
29616,T Total,VU Vanuatu,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29617,T Total,W1 Whole world,IM Imports,14311,15160,16750,15339,15307,16546,16386,...,36272,42000,38970,39755,40340,40627,41136,41022,45422,44709
29618,T Total,WF Wallis & Futuna,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29619,T Total,WS Samoa,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29620,T Total,XK Kosovo,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29621,T Total,YE Yemen,IM Imports,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29622,T Total,ZA South Africa,IM Imports,128,82,91,127,152,110,129,...,129,292,210,293,372,192,318,431,264,223
29623,T Total,ZM Zambia,IM Imports,1,1,2,0,1,1,2,...,0,0,0,0,0,0,1,0,0,0
29624,T Total,ZW Zimbabwe,IM Imports,10,6,8,6,11,11,20,...,6,7,6,6,2,16,1,8,6,6

In [3]:
table.drop(columns='DIRECTION', inplace=True)
table.rename(columns={
    'COMMODITY': 'CORD SITC',
    'COUNTRY': 'ONS Partner Geography'}, inplace=True)
table = pd.melt(table, id_vars=['CORD SITC','ONS Partner Geography'], var_name='Period', value_name='Value')
table['Period'] = table['Period'].astype('category')
table['Value'] = table['Value'].astype(int)

In [4]:
display(table['CORD SITC'].cat.categories)
display(table['ONS Partner Geography'].cat.categories)

Index(['0 Food & live animals', '00 Live animals',
       '01 Meat & meat preparations', '02 Dairy products & eggs',
       '03 Fish & shellfish', '04 Cereals', '05 Vegetables & fruit',
       '06 Sugar', '07 Coffee, tea, cocoa etc', '08 Animal feeding stuffs',
       ...
       '897C Jewellery', '89I Other manufactures (intermediate)',
       '89K Other manufactures (capital)',
       '89OC Other manufactures (consumer)', '8O Other manufactures',
       '8OC Other miscellaneous manufactures (consumer)',
       '8OI Other miscellaneous manufactures (intermediate)',
       '8OK Other miscellaneous manufactures (capital)', '9 Unspecified goods',
       'T Total'],
      dtype='object', length=125)

Index(['AD Andorra', 'AE United Arab Emirates', 'AF Afghanistan',
       'AG Antigua & Barbuda', 'AI Anguilla', 'AL Albania', 'AM Armenia',
       'AO Angola', 'AQ Antarctica', 'AR Argentina',
       ...
       'VN Vietnam', 'VU Vanuatu', 'W1 Whole world', 'WF Wallis & Futuna',
       'WS Samoa', 'XK Kosovo', 'YE Yemen', 'ZA South Africa', 'ZM Zambia',
       'ZW Zimbabwe'],
      dtype='object', length=237)

Fix up category strings

In [5]:
table['CORD SITC'].cat.categories = table['CORD SITC'].cat.categories.map(lambda x: x.split(' ')[0])
table['ONS Partner Geography'].cat.categories = table['ONS Partner Geography'].cat.categories.map(lambda x: x[:2])
display(table['CORD SITC'].cat.categories)
display(table['ONS Partner Geography'].cat.categories)

Index(['0', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       '897C', '89I', '89K', '89OC', '8O', '8OC', '8OI', '8OK', '9', 'T'],
      dtype='object', length=125)

Index(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR',
       ...
       'VN', 'VU', 'W1', 'WF', 'WS', 'XK', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype='object', length=237)

In [6]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

table['Period'].cat.categories = table['Period'].cat.categories.map(time2period)

In [7]:
table['Seasonal Adjustment'] = pd.Series('NSA', index=table.index, dtype='category')
table['Measure Type'] = pd.Series('GBP Total', index=table.index, dtype='category')
table['Unit'] = pd.Series('gbp-million', index=table.index, dtype='category')
table['Flow'] = pd.Series('imports', index=table.index, dtype='category')

In [8]:
table.memory_usage()

Index                          80
CORD SITC                 7441995
ONS Partner Geography    14883886
Period                   14883998
Value                    59487000
Seasonal Adjustment       7435963
Measure Type              7435963
Unit                      7435963
Flow                      7435963
dtype: int64

In [9]:
table = table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]
table

,ONS Partner Geography,Period,Flow,CORD SITC,Seasonal Adjustment,Measure Type,Value,Unit
0,AD,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
1,AE,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
2,AF,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
3,AG,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
4,AI,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
5,AL,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
6,AM,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
7,AO,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
8,AQ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
9,AR,month/1998-01,imports,0,NSA,GBP Total,3,gbp-million
10,AS,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
11,AT,month/1998-01,imports,0,NSA,GBP Total,1,gbp-million
12,AU,month/1998-01,imports,0,NSA,GBP Total,17,gbp-million
13,AW,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
14,AZ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
15,B5,month/1998-01,imports,0,NSA,GBP Total,659,gbp-million
16,BA,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
17,BB,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
18,BD,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
19,BE,month/1998-01,imports,0,NSA,GBP Total,47,gbp-million
20,BF,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
21,BG,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
22,BH,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
23,BI,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
24,BJ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
25,BM,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
26,BN,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
27,BO,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
28,BQ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
29,BR,month/1998-01,imports,0,NSA,GBP Total,14,gbp-million
...,...,...,...,...,...,...,...,...
7435845,TL,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435846,TM,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435847,TN,month/2018-11,imports,T,NSA,GBP Total,9,gbp-million
7435848,TO,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435849,TR,month/2018-11,imports,T,NSA,GBP Total,891,gbp-million
7435850,TT,month/2018-11,imports,T,NSA,GBP Total,12,gbp-million
7435851,TV,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435852,TW,month/2018-11,imports,T,NSA,GBP Total,316,gbp-million
7435853,TZ,month/2018-11,imports,T,NSA,GBP Total,1,gbp-million
7435854,UA,month/2018-11,imports,T,NSA,GBP Total,59,gbp-million
7435855,UG,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435856,UM,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435857,US,month/2018-11,imports,T,NSA,GBP Total,3876,gbp-million
7435858,UY,month/2018-11,imports,T,NSA,GBP Total,3,gbp-million
7435859,UZ,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435860,VA,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435861,VC,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435862,VE,month/2018-11,imports,T,NSA,GBP Total,5,gbp-million
7435863,VG,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435864,VI,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435865,VN,month/2018-11,imports,T,NSA,GBP Total,415,gbp-million
7435866,VU,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435867,W1,month/2018-11,imports,T,NSA,GBP Total,44709,gbp-million
7435868,WF,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435869,WS,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435870,XK,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435871,YE,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435872,ZA,month/2018-11,imports,T,NSA,GBP Total,223,gbp-million
7435873,ZM,month/2018-11,imports,T,NSA,GBP Total,0,gbp-million
7435874,ZW,month/2018-11,imports,T,NSA,GBP Total,6,gbp-million

In [10]:
table.count()

ONS Partner Geography    7435875
Period                   7435875
Flow                     7435875
CORD SITC                7435875
Seasonal Adjustment      7435875
Measure Type             7435875
Value                    7435875
Unit                     7435875
dtype: int64

In [11]:
table.dtypes

ONS Partner Geography    category
Period                   category
Flow                     category
CORD SITC                category
Seasonal Adjustment      category
Measure Type             category
Value                       int64
Unit                     category
dtype: object