# Country by commodity imports

In [2]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/' + \
                  'uktradecountrybycommodityimports')
scraper

## Trade in goods: country-by-commodity imports

Monthly import country-by-commodity data on the UK's trade in goods, including trade by all countries and selected commodities, non-seasonally adjusted.

### Distributions

1. Trade in goods: country-by-commodity imports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityimports/current/countrybycommodityimportsfinal.xlsx))

In [9]:
data = scraper.distribution().as_pandas(sheet_name = 1, dtype={
    'COMMODITY': 'category',
    'COUNTRY': 'category',
    'DIRECTION': 'category'
}, na_values=[''], keep_default_na=False)
data

,COMMODITY,COUNTRY,DIRECTION,1998JAN,1998FEB,1998MAR,1998APR,1998MAY,1998JUN,1998JUL,...,2018NOV,2018DEC,2019JAN,2019FEB,2019MAR,2019APR,2019MAY,2019JUN,2019JUL,2019AUG
0,0 Food & live animals,AD Andorra,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,1647,0,0,0,0
1,0 Food & live animals,AE United Arab Emirates,IM Imports,899075,380883,11820533,29235722,11438351,1628558,342104,...,635597,570601,808013,1042926,10339473,2152939,1780878,675000,560763,891423
2,0 Food & live animals,AF Afghanistan,IM Imports,25217,76800,12294,110214,0,55531,104659,...,27228,4752,47404,74654,14587,46498,72706,33636,1110,4916
3,0 Food & live animals,AG Antigua & Barbuda,IM Imports,2569,0,0,56358,0,0,0,...,0,0,0,0,0,0,1043,1129,63699,32203
4,0 Food & live animals,AI Anguilla,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0 Food & live animals,AL Albania,IM Imports,0,0,0,0,0,0,0,...,41657,10500,46229,20753,51771,23863,21061,31716,60367,39665
6,0 Food & live animals,AM Armenia,IM Imports,0,0,0,0,10155,0,1336,...,14583,0,0,0,0,3982,0,0,0,0
7,0 Food & live animals,AO Angola,IM Imports,62735,12602,0,0,0,37458,0,...,0,714386,0,843710,0,0,35103,0,0,0
8,0 Food & live animals,AQ Antarctica,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,11385,0,0,0,0,0
9,0 Food & live animals,AR Argentina,IM Imports,3996860,10886680,4731677,7384214,13882494,9794335,13672416,...,81253505,5830700,45869772,9255878,35879371,22761412,56044946,31004690,40925877,71358341
10,0 Food & live animals,AS American Samoa,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0 Food & live animals,AT Austria,IM Imports,1349886,1813932,2050823,1694361,1618645,1811484,1984321,...,12974352,12350527,12368743,16519906,15579329,14516265,11981719,9580775,10438504,10292110
12,0 Food & live animals,AU Australia,IM Imports,17048157,4360738,4843921,6120571,6496827,8541032,8212211,...,9496820,14915912,8255854,4601864,5067533,8104380,7560046,7586540,10886480,6331365
13,0 Food & live animals,AW Aruba,IM Imports,0,0,0,201092,0,0,0,...,0,0,0,0,3656,0,0,0,0,0
14,0 Food & live animals,AZ Azerbaijan,IM Imports,76206,4685,217558,47735,0,89229,20650,...,0,0,0,0,0,0,0,0,0,0
15,0 Food & live animals,B5 Total EU(28),IM Imports,651000000,659000000,700000000,688000000,693000000,753000000,719000000,...,2528000000,2312000000,2340000000,2348000000,2606000000,2349000000,2283000000,2084000000,2203000000,2186000000
16,0 Food & live animals,BA Bosnia & Herzegovina,IM Imports,0,0,0,0,0,4449,1266,...,27152,25706,38834,3488,28317,42547,29068,48703,1582,30296
17,0 Food & live animals,BB Barbados,IM Imports,28475,13663,9472,5939186,5644432,4410520,704969,...,26691,112084,57438,0,0,50355,58733,95230,4037,70389
18,0 Food & live animals,BD Bangladesh,IM Imports,413140,287857,338929,2296857,2434504,1568596,1803893,...,7767149,7082967,9738104,8370655,8600467,6385935,6415193,5661194,4039261,4655434
19,0 Food & live animals,BE Belgium,IM Imports,48107734,48420440,51711607,48265166,49379088,61552670,50481328,...,213434742,170766042,187148057,187510664,190168258,166629074,164817020,156055079,178569778,175482752
20,0 Food & live animals,BF Burkina Faso,IM Imports,0,61145,8532,0,0,5568,5858,...,91611,0,0,0,0,0,28103,120058,995650,446935
21,0 Food & live animals,BG Bulgaria,IM Imports,34601,20332,29082,6399,27826,82468,8888,...,9143711,5812986,7073482,7567208,3642815,6485149,12181624,9347451,8428371,8672980
22,0 Food & live animals,BH Bahrain,IM Imports,5794,705985,5418,1564,0,6801,4034,...,0,1092,0,0,0,0,0,79852,14597,13046
23,0 Food & live animals,BI Burundi,IM Imports,1440,0,0,1569,54112,55212,24272,...,179209,0,0,160900,1552,0,0,0,0,0
24,0 Food & live animals,BJ Benin,IM Imports,0,0,0,0,0,0,0,...,225105,113880,332398,207645,0,103284,124842,108266,216162,92363
25,0 Food & live animals,BM Bermuda,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,1931,0,0,0,0,763
26,0 Food & live animals,BN Brunei,IM Imports,0,0,0,0,0,11970,1212,...,0,2536,0,0,0,0,1093,1992,9876,0
27,0 Food & live animals,BO Bolivia,IM Imports,453117,267837,223976,241757,386936,304963,437489,...,606650,1049068,789212,1486441,383398,514210,1394231,561851,784654,689388
28,0 Food & live animals,"BQ Bonaire, Sint Eustatius and Saba",IM Imports,0,82052,25387,6537,19645,23874,0,...,0,0,0,0,0,0,0,0,0,0
29,0 Food & live animals,BR Brazil,IM Imports,12862296,11978023,12007490,12980633,11195175,21628748,21408347,...,63919201,49995612,67351359,35379479,42204920,38982708,55954673,37327151,49944552,45719714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29595,T Total,TL East Timor,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29596,T Total,TM Turkmenistan,IM Imports,0,0,0,0,1000000,0,0,...,0,0,0,0,0,1000000,0,0,0,0
29597,T Total,TN Tunisia,IM Imports,4000000,10000000,7000000,6000000,10000000,5000000,7000000,...,14000000,15000000,13000000,12000000,14000000,17000000,13000000,49000000,16000000,9000000
29598,T Total,TO Tonga,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29599,T Total,TR Turkey,IM Imports,91000000,84000000,113000000,83000000,95000000,101000000,109000000,...,821000000,696000000,853000000,744000000,783000000,721000000,791000000,552000000,840000000,732000000
29600,T Total,TT Trinidad & Tobago,IM Imports,3000000,3000000,1000000,2000000,6000000,8000000,5000000,...,13000000,28000000,17000000,9000000,5000000,6000000,17000000,0,6000000,7000000
29601,T Total,TV Tuvalu,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29602,T Total,TW Taiwan,IM Imports,191000000,181000000,201000000,193000000,191000000,182000000,195000000,...,318000000,317000000,340000000,253000000,287000000,293000000,293000000,309000000,312000000,315000000
29603,T Total,TZ Tanzania,IM Imports,3000000,2000000,5000000,6000000,3000000,2000000,2000000,...,1000000,1000000,1000000,1000000,1000000,1000000,1000000,1000000,2000000,3000000
29604,T Total,UA Ukraine,IM Imports,6000000,4000000,4000000,2000000,11000000,3000000,3000000,...,63000000,32000000,56000000,56000000,57000000,58000000,48000000,53000000,70000000,47000000
29605,T Total,UG Uganda,IM Imports,2000000,2000000,1000000,1000000,1000000,1000000,1000000,...,1000000,1000000,1000000,1000000,1000000,2000000,1000000,1000000,1000000,1000000
29606,T Total,UM US Minor Outlying Islands,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29607,T Total,US United States inc Puerto Rico,IM Imports,1805000000,1966000000,2157000000,1906000000,1954000000,1891000000,1784000000,...,3803000000,3370000000,4590000000,4290000000,4634000000,3875000000,3646000000,3307000000,3724000000,3887000000
29608,T Total,UY Uruguay,IM Imports,4000000,4000000,4000000,5000000,5000000,8000000,6000000,...,6000000,5000000,6000000,4000000,3000000,4000000,3000000,4000000,3000000,4000000
29609,T Total,UZ Uzbekistan,IM Imports,1000000,0,1000000,0,0,1000000,2000000,...,0,0,0,23000000,0,0,0,0,0,0
29610,T Total,VA Vatican City,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29611,T Total,VC St Vincent,IM Imports,1000000,2000000,2000000,2000000,2000000,1000000,1000000,...,0,0,0,0,0,0,0,0,0,0
29612,T Total,VE Venezuela,IM Imports,11000000,6000000,13000000,8000000,10000000,19000000,11000000,...,5000000,5000000,3000000,0,5000000,10000000,12000000,0,4000000,2000000
29613,T Total,VG British Virgin Islands,IM Imports,0,0,1000000,1000000,1000000,0,0,...,1000000,1000000,1000000,1000000,5000000,5000000,1000000,1000000,1000000,1000000
29614,T Total,VI US Virgin Islands,IM Imports,12000000,4000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29615,T Total,VN Vietnam,IM Imports,20000000,21000000,23000000,23000000,22000000,21000000,19000000,...,417000000,364000000,374000000,315000000,419000000,382000000,336000000,340000000,399000000,471000000
29616,T Total,VU Vanuatu,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29617,T Total,W1 Whole world,IM Imports,14356000000,15197000000,16799000000,15381000000,15357000000,16590000000,16442000000,...,44505000000,38414000000,45943000000,44291000000,49186000000,39570000000,39605000000,37459000000,40596000000,38398000000
29618,T Total,WF Wallis & Futuna,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29619,T Total,WS Samoa,IM Imports,0,0,0,0,0,0,0,...,0,0,1000000,1000000,0,1000000,1000000,1000000,1000000,1000000
29620,T Total,XK Kosovo,IM Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29621,T Total,YE Yemen,IM Imports,0,1000000,0,0,1000000,0,0,...,0,1000000,0,0,0,0,0,0,0,0
29622,T Total,ZA South Africa,IM Imports,130000000,83000000,91000000,128000000,154000000,112000000,131000000,...,228000000,437000000,459000000,274000000,775000000,213000000,287000000,457000000,226000000,272000000
29623,T Total,ZM Zambia,IM Imports,2000000,2000000,3000000,1000000,2000000,1000000,2000000,...,1000000,1000000,1000000,0,0,0,0,1000000,0,1000000
29624,T Total,ZW Zimbabwe,IM Imports,11000000,7000000,9000000,8000000,11000000,11000000,22000000,...,6000000,7000000,0,8000000,7000000,3000000,8000000,8000000,8000000,6000000

In [10]:
table = data.drop(columns='DIRECTION')
table.rename(columns={
    'COMMODITY': 'CORD SITC',
    'COUNTRY': 'ONS Partner Geography'}, inplace=True)
table = pd.melt(table, id_vars=['CORD SITC','ONS Partner Geography'], var_name='Period', value_name='Value')
table['Period'] = table['Period'].astype('category')
#table['Value'] = table['Value'].astype(int)

In [11]:
#display(table['CORD SITC'].cat.categories)
#display(table['ONS Partner Geography'].cat.categories)

Index(['0 Food & live animals', '00 Live animals',
       '01 Meat & meat preparations', '02 Dairy products & eggs',
       '03 Fish & shellfish', '04 Cereals', '05 Vegetables & fruit',
       '06 Sugar', '07 Coffee, tea, cocoa etc', '08 Animal feeding stuffs',
       ...
       '897C Jewellery', '89I Other manufactures (intermediate)',
       '89K Other manufactures (capital)',
       '89OC Other manufactures (consumer)', '8O Other manufactures',
       '8OC Other miscellaneous manufactures (consumer)',
       '8OI Other miscellaneous manufactures (intermediate)',
       '8OK Other miscellaneous manufactures (capital)', '9 Unspecified goods',
       'T Total'],
      dtype='object', length=125)

Index(['AD Andorra', 'AE United Arab Emirates', 'AF Afghanistan',
       'AG Antigua & Barbuda', 'AI Anguilla', 'AL Albania', 'AM Armenia',
       'AO Angola', 'AQ Antarctica', 'AR Argentina',
       ...
       'VN Vietnam', 'VU Vanuatu', 'W1 Whole world', 'WF Wallis & Futuna',
       'WS Samoa', 'XK Kosovo', 'YE Yemen', 'ZA South Africa', 'ZM Zambia',
       'ZW Zimbabwe'],
      dtype='object', length=237)

Fix up category strings

In [12]:
table['CORD SITC'].cat.categories = table['CORD SITC'].cat.categories.map(lambda x: x.split(' ')[0])
table['ONS Partner Geography'].cat.categories = table['ONS Partner Geography'].cat.categories.map(lambda x: x[:2])
#display(table['CORD SITC'].cat.categories)
#display(table['ONS Partner Geography'].cat.categories)

Index(['0', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       '897C', '89I', '89K', '89OC', '8O', '8OC', '8OI', '8OK', '9', 'T'],
      dtype='object', length=125)

Index(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR',
       ...
       'VN', 'VU', 'W1', 'WF', 'WS', 'XK', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype='object', length=237)

In [13]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

table['Period'].cat.categories = table['Period'].cat.categories.map(time2period)

In [14]:
table['Seasonal Adjustment'] = pd.Series('NSA', index=table.index, dtype='category')
table['Measure Type'] = pd.Series('GBP Total', index=table.index, dtype='category')
table['Unit'] = pd.Series('gbp-million', index=table.index, dtype='category')
table['Flow'] = pd.Series('imports', index=table.index, dtype='category')

In [15]:
#table.memory_usage()

Index                          80
CORD SITC                 7708620
ONS Partner Geography    15417136
Period                   15417320
Value                    61620000
Seasonal Adjustment       7702588
Measure Type              7702588
Unit                      7702588
Flow                      7702588
dtype: int64

In [16]:
table = table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]
#table

,ONS Partner Geography,Period,Flow,CORD SITC,Seasonal Adjustment,Measure Type,Value,Unit
0,AD,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
1,AE,month/1998-01,imports,0,NSA,GBP Total,899075,gbp-million
2,AF,month/1998-01,imports,0,NSA,GBP Total,25217,gbp-million
3,AG,month/1998-01,imports,0,NSA,GBP Total,2569,gbp-million
4,AI,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
5,AL,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
6,AM,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
7,AO,month/1998-01,imports,0,NSA,GBP Total,62735,gbp-million
8,AQ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
9,AR,month/1998-01,imports,0,NSA,GBP Total,3996860,gbp-million
10,AS,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
11,AT,month/1998-01,imports,0,NSA,GBP Total,1349886,gbp-million
12,AU,month/1998-01,imports,0,NSA,GBP Total,17048157,gbp-million
13,AW,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
14,AZ,month/1998-01,imports,0,NSA,GBP Total,76206,gbp-million
15,B5,month/1998-01,imports,0,NSA,GBP Total,651000000,gbp-million
16,BA,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
17,BB,month/1998-01,imports,0,NSA,GBP Total,28475,gbp-million
18,BD,month/1998-01,imports,0,NSA,GBP Total,413140,gbp-million
19,BE,month/1998-01,imports,0,NSA,GBP Total,48107734,gbp-million
20,BF,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
21,BG,month/1998-01,imports,0,NSA,GBP Total,34601,gbp-million
22,BH,month/1998-01,imports,0,NSA,GBP Total,5794,gbp-million
23,BI,month/1998-01,imports,0,NSA,GBP Total,1440,gbp-million
24,BJ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
25,BM,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
26,BN,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
27,BO,month/1998-01,imports,0,NSA,GBP Total,453117,gbp-million
28,BQ,month/1998-01,imports,0,NSA,GBP Total,0,gbp-million
29,BR,month/1998-01,imports,0,NSA,GBP Total,12862296,gbp-million
...,...,...,...,...,...,...,...,...
7702470,TL,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702471,TM,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702472,TN,month/2019-08,imports,T,NSA,GBP Total,9000000,gbp-million
7702473,TO,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702474,TR,month/2019-08,imports,T,NSA,GBP Total,732000000,gbp-million
7702475,TT,month/2019-08,imports,T,NSA,GBP Total,7000000,gbp-million
7702476,TV,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702477,TW,month/2019-08,imports,T,NSA,GBP Total,315000000,gbp-million
7702478,TZ,month/2019-08,imports,T,NSA,GBP Total,3000000,gbp-million
7702479,UA,month/2019-08,imports,T,NSA,GBP Total,47000000,gbp-million
7702480,UG,month/2019-08,imports,T,NSA,GBP Total,1000000,gbp-million
7702481,UM,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702482,US,month/2019-08,imports,T,NSA,GBP Total,3887000000,gbp-million
7702483,UY,month/2019-08,imports,T,NSA,GBP Total,4000000,gbp-million
7702484,UZ,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702485,VA,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702486,VC,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702487,VE,month/2019-08,imports,T,NSA,GBP Total,2000000,gbp-million
7702488,VG,month/2019-08,imports,T,NSA,GBP Total,1000000,gbp-million
7702489,VI,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702490,VN,month/2019-08,imports,T,NSA,GBP Total,471000000,gbp-million
7702491,VU,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702492,W1,month/2019-08,imports,T,NSA,GBP Total,38398000000,gbp-million
7702493,WF,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702494,WS,month/2019-08,imports,T,NSA,GBP Total,1000000,gbp-million
7702495,XK,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702496,YE,month/2019-08,imports,T,NSA,GBP Total,0,gbp-million
7702497,ZA,month/2019-08,imports,T,NSA,GBP Total,272000000,gbp-million
7702498,ZM,month/2019-08,imports,T,NSA,GBP Total,1000000,gbp-million
7702499,ZW,month/2019-08,imports,T,NSA,GBP Total,6000000,gbp-million

In [17]:
#table.count()

ONS Partner Geography    7702500
Period                   7702500
Flow                     7702500
CORD SITC                7702500
Seasonal Adjustment      7702500
Measure Type             7702500
Value                    7702500
Unit                     7702500
dtype: int64

In [11]:
#table.dtypes

ONS Partner Geography    category
Period                   category
Flow                     category
CORD SITC                category
Seasonal Adjustment      category
Measure Type             category
Value                       int64
Unit                     category
dtype: object